# Core Service
DATABASE_URL=postgresql://postgres:password@db.example.com:5432/postgres
DB_USER=postgres
DB_PASSWORD=password
DB_HOST=db.example.com
DB_PORT=5432
DB_NAME=postgres
INTERNAL_API_KEY=your_secret_internal_key

# Payment Service
PAYNOW_INTEGRATION_ID=your_id
PAYNOW_INTEGRATION_KEY=your_key
PAYNOW_RESULT_URL=http://localhost:9000/api/v1/payments/callback
PAYNOW_RETURN_URL=http://localhost:3000/success

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000/api
