.env
.ipynb_checkpoints
.next
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
.db
node_modules
dist
build
*.log
.DS_Store
*.exe
*.bin
*.out
*.app
coverage/
.next/
out/
.env.local
.env.development.local
.env.test.local
.env.production.local
.next/
/static/uploads/
venv/
.venv/
env/
.env/
